package ${package}.mapper;

import ${package}.domain.${className};
import com.ruoyi.common.core.mapper.BaseMapper;

/**
 * ${tableComment} 数据层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}>
{

}